<section class="wrap-content section-about section-about-lachitus">
  <div class="container">
    <div class="profile-container">
      <div class="section-box">
        <div class="profile-text">
          <p class="text-center -color-gold"><big>
            About Us
          </big></p>
          <p><small>
            LACHITUS is a fashion business that was establised from the desire of its founder, Ms.

            Chi Tran. Because of her young-age hope  about being well-dressed, high class, and

            impressive, she dreamed that she would not only help herself in style but also people all

            over the world. And that is why she decided to open up a fashion business based on its

            motto "beautiful for me, beautiful for everybody." With such inspiration, our company

            always chooses and creates high aesthetic products that give the wearer a sense of

            glamour, luxury, high class like many famous stars around the world.
          </small></p>

          <p><small>
            Another advantage of the LACHITUS fashion products is that customers don't need to

            spend a lot of money to own these beautiful and luxurious outfits. Our company wants

            to help people of all ages and social classes to be able to dress nicely, impressively, and

            modernly like their dream with only affordable prices.
          </small></p>
        </div>
        <div class="profile-social -bg-gold text-center">

          <ul class="nav navbar-nav social">
            <li>
              <a class="ripple-centered" href="https://www.facebook.com" target="_blank"><i class="fa fa-3x fa-facebook"></i></a>
            </li>
            <li>
              <a class="ripple-centered" href="https://twitter.com/" target="_blank"><i class="fa fa-3x fa-twitter"></i></a>
            </li>
            <li>
              <a class="ripple-centered" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-3x fa-linkedin"></i></a>
            </li>
            <li>
              <a class="ripple-centered" href="https://plus.google.com" target="_blank"><i class="fa fa-3x fa-google-plus"></i></a>
            </li>
            <li>
              <a class="ripple-centered" href="https://www.instagram.com/" target="_blank"><i class="fa fa-3x fa-instagram"></i></a>
            </li>
          </ul>

        </div>
      </div>
      <div class="profile-text">
        <p class="text-center -color-gold"><big>
          Foundation
        </big></p>
        <p><small>
          Established since 2015, the basis of brand LACHITUS is a philanthropic organization that

          helps people with hard life circumstances such as no home, no food to eat, and no

          clothes to wear. Besides, we encourage them to move on in life and pursue their

          dreams. All these charity activities  are planned and performed every year by financial

          resources of sold Lachitus products. We always hoped that everyone can have a chance

          to live a wonderful life: good food, stable house, and beautiful clothes.
        </small></p>
      </div>
    </div>
  </div>
</section> <!-- About Chi -->
