<section id="lachitus-slide" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#lachitus-slide" data-slide-to="0" class="active"></li>
    <li data-target="#lachitus-slide" data-slide-to="1"></li>
    <li data-target="#lachitus-slide" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/images/lachitus-slide1.jpg" alt="lachitus-fashion">
    </div>
    <div class="item">
      <img src="/images/lachitus-slide2.jpg" alt="lachitus-fashion">
    </div>
    <div class="item">
      <img src="/images/lachitus-slide3.jpg" alt="lachitus-fashion">
    </div>
  </div>
</section> <!--/.slider -->

<section class="wrap-content section-about">
  <div class="container">
    <div class="profile-container">
      <div class="section-box">
        <div class="profile">
          <div class="row">
            <div class="col-sm-5">
              <div class="profile-photo text-center">
                <img class="avatar" alt="Lachitus fashion" src="/images/lachitus-founder.jpg" />
              </div>
            </div>
            <div class="col-sm-7">
              <div class="profile-info">

                <h1 class="profile-title">
                  <span>I'm</span> Chi Tran
                </h1>
                <h2 class="profile-position">
                  Designer and businessgirl
                </h2>
              </div> <!-- /.profile-info -->
              <div class="profile-list">
                <div class="row">
                  <div class="col-xs-3 detail">Age</div>
                  <div class="col-xs-9 info-detail">29</div>
                </div>
                <div class="row">
                  <div class="col-xs-3 detail">Address</div>
                  <div class="col-xs-9 info-detail">24058, Belgium, Brussels, Liutte 27, BE</div>
                </div>
                <div class="row">
                  <div class="col-xs-3 detail">E-mail</div>
                  <div class="col-xs-9 info-detail">lachitus@gmail.com</div>
                </div>
                <div class="row">
                  <div class="col-xs-3 detail">Phone</div>
                  <div class="col-xs-9 info-detail">+1 425 319 13 41</div>
                </div>
              </div> <!-- /.profile-list -->
            </div>
          </div>
        </div>
        <div class="profile-social -bg-gold text-center">

          <ul class="nav navbar-nav social">
            <li>
              <a class="ripple-centered" href="https://www.facebook.com" target="_blank"><i class="fa fa-3x fa-facebook"></i></a>
            </li>
            <li>
              <a class="ripple-centered" href="https://twitter.com/" target="_blank"><i class="fa fa-3x fa-twitter"></i></a>
            </li>
            <li>
              <a class="ripple-centered" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-3x fa-linkedin"></i></a>
            </li>
            <li>
              <a class="ripple-centered" href="https://plus.google.com" target="_blank"><i class="fa fa-3x fa-google-plus"></i></a>
            </li>
            <li>
              <a class="ripple-centered" href="https://www.instagram.com/" target="_blank"><i class="fa fa-3x fa-instagram"></i></a>
            </li>
          </ul>

        </div>
      </div>
      <div class="profile-text text-center">
        <p>
          Hello! I'm Chi Tran. Founder of Lachitus.
        </p>
      </div>
    </div>
  </div>
</section> <!-- About Chi -->

<section>
  <ul class="nav nav-collection">
    <li class="grid-box -bg-gold animated">
      <figure class="portfolio-figure">
        <img alt="lachitus-fashion" class="img-responsive" src="/images/bag.jpg" />
        <figcaption class="portfolio-caption">
          <div class="portfolio-caption-inner">
            <h3 class="portfolio-title">
              Bag
            </h3>
            <h4 class="portfolio-cat">
              Femineity
            </h4>
          </div>
        </figcaption>
      </figure>
    </li>
    <li class="grid-box -bg-gold animated">
      <figure class="portfolio-figure">
        <img alt="lachitus-fashion" class="img-responsive" src="/images/belts.jpg" />
        <figcaption class="portfolio-caption">
          <div class="portfolio-caption-inner">
            <h3 class="portfolio-title">
              Belts
            </h3>
            <h4 class="portfolio-cat">
               Femineity
            </h4>
          </div>
        </figcaption>
      </figure>
    </li>
    <li class="grid-box -bg-gold animated">
      <figure class="portfolio-figure">
        <img alt="lachitus-fashion" class="img-responsive" src="/images/shoes.jpg" />
        <figcaption class="portfolio-caption">
          <div class="portfolio-caption-inner">
            <h3 class="portfolio-title">
              Shose
            </h3>
            <h4 class="portfolio-cat">
              Femineity
            </h4>
          </div>
        </figcaption>
      </figure>
    </li>
    <li class="grid-box -bg-gold animated">
      <figure class="portfolio-figure">
        <img alt="lachitus-fashion" class="img-responsive" src="/images/sunglasses.jpg" />
        <figcaption class="portfolio-caption">
          <div class="portfolio-caption-inner">
            <h3 class="portfolio-title">
              Sun Glasses
            </h3>
            <h4 class="portfolio-cat">
              Style
            </h4>
          </div>
        </figcaption>
      </figure>
    </li>
    <li class="grid-box -bg-gold animated">
      <figure class="portfolio-figure">
        <img alt="lachitus-fashion" class="img-responsive" src="/images/necklace.jpg" />
        <figcaption class="portfolio-caption">
          <div class="portfolio-caption-inner">
            <h3 class="portfolio-title">
              Necklace
            </h3>
            <h4 class="portfolio-cat">
              Luxurious
            </h4>
          </div>
        </figcaption>
      </figure>
    </li>
  </ul>
</section>
