.logo {
  @include size(400px, 222px);
  background-image: url("/images/lachitus-logo.png");
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
}

.lachitus-navbar {
  min-height: auto;
  .navbar-collapse {
    padding: 0;
  }
  a {
    color: #000000;
    font-weight: 500;
  }
  li a:hover {
    @include transition(background 0.5s, background-color 0.5s, color 0.5s);
    background-color: #000000;
    color: $goldColor;
  }
}

.header {
  .navbar-toggle {
    margin-top: -24px;
  }
  .icon-bar {
    background-color: $goldColor;
  }
}
